---
const SITE_URL = "https://tecnodrishti.vercel.app"; // change later to custom domain
const canonicalURL = new URL(Astro.url.pathname, SITE_URL).href;

const {
  title = "Tecno Drishti – Clear Perspectives on Modern Technology",
  description = "Tecno Drishti is a technology blog offering clear, insightful guides and deep dives into web development, software engineering, and modern tools.",
  image = "/og-image.png",
} = Astro.props;

const ogImage = new URL(image, SITE_URL).href;

import ThemeInit from "@/components/theme-init.astro";
import "../styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- SiteMap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="sitemap" href="/sitemap-0.xml" />

    <!-- Primary SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Amruth L P" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Google -->
    <meta
      name="google-site-verification"
      content="m3gcO3z77CpmDFtlEBa5Qk-g2yMOUvIFj34TKqbJMoU"
    />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:site_name" content="Tecno Drishti" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Tecno Drishti RSS Feed"
      href="/rss.xml"
    />

    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Website",
        "name": "Tecno Drishti",
        "url": "https://tecnodrishti.vercel.app",
        "publisher": {
          "@type": "Person",
          "name": "Amruth L P",
          "sameAs": [
            "https://github.com/AmruthLP12",
            "https://www.linkedin.com/in/amruthlp",
            "https://www.youtube.com/@CodeWithAmruth"
          ]
        }
      }
    </script>

    <ThemeInit />
  </head>

  <body>
    <Navbar />
    <main id="content">
      <slot />
    </main>
    <Footer />

    <script type="module">
      import "@/scripts/copy-code";
    </script>
  </body>
</html>
